body {
    background-color: white;
}

article {
    padding: 15px;
}

article + article {
    border-top: 1px solid lightgrey;
}

.post {
    font-family: Helvetica, sans-serif;
}


/* -- HEADER -- */

.post-header {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.info-box {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.reblog-modifier {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 25px;
    align-items: center;
    justify-items: flex-end;
}

.profile-pic {
    width: 50px;
    grid-row: 1 / 3;
    grid-column: 1 / 3;
    border-radius: 25px;
}

.reblog-icon {
    display: none;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    width: 20px;
    border-radius: 25px;
}

.user-info {
    margin: 7px;
}

.username {
    font-weight: bold;
    margin: inherit;
}

.post-date {
    display: none;
}


/* -- BUTTONS -- */

.post-controls {
    display: flex;
    align-items: center;
}

.follow {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(47, 47, 233);
    background-color: transparent;
    border: none;
    padding: 14px;
    margin: 15px;
}

.triple-dot {
    display: none;
}

.triple-dot-img {
    width: 20px;
    height: 20px;
}



/* -- FOOTER -- */

.post-footer {
    display: flex;
    flex-wrap: wrap;
}

/* 
only style hashtag-class elements with another hashtag directly next to them.
This is to make sure only the space between elements is styled.
*/
.hashtag + .hashtag {
    margin-left: 10px;
}

.hashtag {
    margin-top: 5px;
    margin-bottom: 5px;
    color: grey;
}

