h2 {
    font-family: Arial, Helvetica, sans-serif;
}

form {
    margin: 10px;
    margin-bottom: 40px;
}

input, select {
    border: none;
    border-radius: 2px;
    padding: 7px;
}

input {
    transition-property: font-size, background-color;
    transition-duration: 0.5s;
}